apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-env-vars" (include "common.names.fullname" .) }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: keycloak
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  KEYCLOAK_ADMIN:  {{ .Values.auth.adminUser | quote }}
  KC_HTTP_PORT: {{ .Values.containerPorts.http | quote }}
  KC_PROXY: {{ .Values.proxy | quote }}
  KC_METRICS_ENABLED: {{ ternary "true" "false" .Values.metrics.enabled | quote }}
  KC_DB: {{ include "keycloak.databaseVendor" . | quote }}
  KC_DB_URL_HOST: {{ include "keycloak.databaseHost" . | quote }}
  KC_DB_URL_PORT: {{ include "keycloak.databasePort" . }}
  KC_DB_URL_DATABASE: {{ include "keycloak.databaseName" . | quote }}
  KC_DB_USERNAME: {{ include "keycloak.databaseUser" . | quote }}
  {{- if .Values.tls.enabled }}
  KC_HTTP_PORT: {{ .Values.containerPorts.https | quote }}
  ##OLD## KEYCLOAK_HTTPS_USE_PEM: {{ ternary "true" "false" (or .Values.tls.usePem .Values.tls.autoGenerated) | quote }}
  {{- if or .Values.tls.usePem .Values.tls.autoGenerated }}
  KC_HTTPS_CERTIFICATE_FILE: "/opt/bitnami/keycloak/certs/tls.crt"
  KC_HTTPS_CERTIFICATE_KEY_FILE: "/opt/bitnami/keycloak/certs/tls.crt"
  {{- else }}
  KC_HTTPS_KEY_STORE_FILE: {{ printf "/opt/bitnami/keycloak/certs/%s" .Values.tls.keystoreFilename | quote }}
  KC_HTTPS_TRUST_STORE_FILE: {{ printf "/opt/bitnami/keycloak/certs/%s" .Values.tls.truststoreFilename | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.spi.existingSecret }}
  {{- if .Values.spi.hostnameVerificationPolicy }}
  ##OLD## KEYCLOAK_SPI_TRUSTSTORE_FILE_HOSTNAME_VERIFICATION_POLICY: {{ .Values.spi.hostnameVerificationPolicy | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.cache.enabled }}
  KC_CACHE: "ispn"
  {{- if .Values.cache.stackName }}
  KC_CACHE_STACK: {{ .Values.cache.stackName | quote }}
  {{- end }}
  {{- if .Values.cache.stackFile }}
  KC_CACHE_CONFIG_FILE: {{ .Values.cache.stackFile | quote }} 
  {{- end }}
  JAVA_OPTS_APPEND: {{ printf "-Djgroups.dns.query=%s-headless.%s.svc.%s" (include "common.names.fullname" .) (include "common.names.namespace" .) .Values.clusterDomain | quote }}
  {{- else }}
  KC_CACHE: "local"
  {{- end }}
  {{- if .Values.logging }}
  KC_LOG_CONSOLE_OUTPUT: {{ .Values.logging.output | quote }}
  {{- end }}
  KC_HOSTNAME_STRICT: "false"
  KC_HEALTH_ENABLED: "true"
